<div class="container" style="margin-top:20px">
	<div class="row" style="margin-bottom: 20px">
		<h3>NgTable use component (dynamic)</h3>
	</div>
	<!-- 列显隐 -->
	<div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in $ctrl.cols">
        	<input type="checkbox" ng-model-options="{getterSetter:true}" ng-model="col.show"/> {{col.title}}
        </label>
    </div>
    <hr>
	<!-- 列移动 -->
	<div class="row" style="margin-bottom: 20px">
		<ul class="list-inline" ng-cloak> 
	        <li ng-repeat="col in $ctrl.cols track by col.title" style="min-width: 100px">
	        	<a href="" ng-click="$ctrl.move(col,$index,-1)">
	            	<span ng-show="!$first" class="glyphicon glyphicon-arrow-left"></span>
	          	</a>
	          	{{col.title}}
	          	<a href="" ng-click="$ctrl.move(col,$index, 1)">
	            	<span ng-show="!$last" class="glyphicon glyphicon-arrow-right"></span>
	          	</a>
	        </li>
    	</ul>
	</div>
	<div class="row">
		<table class="table table-condensed table-bordered table-striped table-hover" 
			ng-table-dynamic="$ctrl.tableParams with $ctrl.cols">
			<tr ng-repeat="row in $data">
          		<td ng-repeat="col in $columns">{{row[col.field]}}</td>
        	</tr>
		</table>
	</div>
</div>
